<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>SI</h1>
    <a href="../index.html"> ir a Home </a>
  <img
      width="500"
      alt="Norra 2025"
      title="Imagen de la carrera Norra 1000 2025 en la 
		zona de la conquista agraria"
      src="gato_bote.png"
    />

    <pre>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolor
      repudiandae itaque sit distinctio velit, atque similique laudantium
      officiis nulla laboriosam, delectus porro aliquam iure? Repellat vel earum
      est reprehenderit harum.

       <code>
        a + b = ?
        &euro; h1 &#128511;
    </code>

    </pre>

  </body>

</html>